/*
 * Pretendard 폰트 적용
 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: 'Pretendard', sans-serif;
}

/*
 *   무슨 CSS인지 모르겠음
 */
.css-18e3th9 {
    padding-top: 0rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.css-1d391kg {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
}

/*
 * Sidebar overflow scroll
 */
section[data-testid='stSidebar'] * {
    overflow-x: hidden;
}

/*
 * Sidebar image center
 */
section[data-testid='stSidebar'] div[data-testid='stImage'] {
    margin: 3rem auto;
}


/*
 *
 */
div[title^="streamlit_folium"] {
    width: 100% !important;
}
